*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgba(32,35,48);
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* the below depends on the number of letters */


#logo path:nth-child(2) {
    stroke-dasharray: 780px;
    stroke-dashoffset: 780px;
    animation: line 2s ease-out infinite forwards;
}
#logo path:nth-child(3) {
    stroke-dasharray: 630px;
    stroke-dashoffset: 630px;
    animation: line 2s ease-out infinite forwards;
}
#logo path:nth-child(4) {
    stroke-dasharray: 680px;
    stroke-dashoffset: 680px;
    animation: line 2s ease-out infinite forwards;
}
#logo path:nth-child(5) {
    stroke-dasharray: 690px;
    stroke-dashoffset: 690px;
    animation: line 2s ease-out infinite forwards;
}
#logo path:nth-child(6) {
    stroke-dasharray: 863px;
    stroke-dashoffset: 863px;
    animation: line 2s ease-out infinite forwards;
}
#logo path:nth-child(7) {
    stroke-dasharray: 830px;
    stroke-dashoffset: 830px;
    animation: line 2s ease-out infinite forwards;
}
#logo path:nth-child(8) {
    stroke-dasharray: 840px;
    stroke-dashoffset: 840px;
    animation: line 2s ease-out infinite forwards;
}
#logo path:nth-child(9) {
    stroke-dasharray: 690px;
    stroke-dashoffset: 690px;
    animation: line 2s ease-out infinite forwards;
}


@keyframes line{
    to{
        stroke-dashoffset: 0;

    }
}