*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    margin-top: 5rem;
}

#man-bike{
    animation: man 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

#hat{
    animation: hat 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;

}

#front-wheel,
#rear-wheel {

    animation: wheel 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box;

}

@keyframes man{
    from{
        transform: rotateX(0deg);
    }

    to{
        transform: rotateX(20deg);
    }
}

@keyframes wheel{
    from{
       transform: rotateZ(0deg); 
    }

    to{
        transform: rotateZ(360deg);
    }
}

@keyframes hat{
    from{
        transform: translateY(0%);
    }

    to{
        transform: translateY(30%);
    }
}


